/*Added a new font style for the sign up page*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*This is where i set up my global colors codes*/
:root{
  --accent-color: #008000;
  --base-color: /*#0000FF*/#808080;
  --text-color: #000000;
  --input-color: #FFFF00;
  --white-color: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}
body{
    min-height: 100vh;
    background-image: url(../img/NLSA-logo.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
}
.wrapper{
    box-sizing: border-box;
    background-color: var(--white-color);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}
form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--base-color);
    fill: var(--text-color);
    color: var(--text-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight:500;
}
form input, select{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border-left: none;
    border: 2px solid var(--accent-color);
    background-color: var(--white-color);
    transition: 150ms ease;
}
form input:hover{
    border-color: var(--base-color);
}
form input:focus{
    outline: none;
    border-color: #000000;
}
div:has(input:focus) > label{
    background-color:#000000;
}
div:has(select:focus) > label{
    background-color:#000000;
}
form input::placeholder{
    color: var(--text-color);
}
form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--base-color);
    color: var(--white-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}
form button:hover{
    background-color: var(--text-color);
}
form button:focus{
    outline: none;
    background-color: var(--text-color);
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
@media(max-width: 1100px){
    .wrapper{
        width: min(600px,100%);
        border-radius: 0;
    }
}
form div.incorrect label{
    background-color: #FF0000;
}
form div.incorrect input{
    border-color: #FF0000;
}
form div.incorrect select{
    border-color: #FF0000;
}
#error-text{
    color: #f06272;
}